{{!< default}}
<div class="container">
	<!--<div class="jumbotron" style="padding-left: 5vw; padding-right: 5vw;">
      <h1>Vultus - Facial Expression Transferring Project</h1>
      <div class="lead">This site will give you the latest update and demo for our ECE496 Project.</div>
      <a class="btn btn-lg btn-primary" href="https://github.com/luqili/vultus" target="_blank" title="View on GitHub">View on GitHub</a>
   </div>
   <!--<div class="row">
      <div class="col-sm-8">
         <h3>Project Description</h3>
         <p>Human image synthesis has been a fascinating yet challenging problem in computer vision area.</p>
         <p>Many research efforts have been put into designing algorithms that generate photo-realistic human image.</p>
         <p>In this project, we are proposing a new way of synthesizing facial expressions to a designated photo, and output images indistinguishable from a real photo.</p>
         <hr>
         <h3>Team Member</h3>
         <p>We are a group of three students, Qili, Xian, Larry from University of Toronto</p>
         <p>Our Project is also supervised by Project Supervisor Prof. Konstantinos N. Plataniotis and Project Adminstrator Nicholas Burgwin</p>
         <p>Photo of the team will be added later(maybe)</p>
         <img src="/images/Unknown.gif" width="160"><img src="/images/Unknown.gif" width="160"><img src="/images/Unknown.gif" width="160">
         <hr>
         <h3><a href="/update">Update</a></h3>
         <p>We will post our weekly update every Sunday, to give you some idea about our progress</p>
         <p>We will also put some design idea under that section</p>
         <hr>
      </div>
      <div class="col-sm-4">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title"><a href="/keystone/signin">Notice</a></h3>
            </div>
            <div class="panel-body">
               <p>Sign in is only available for admin right now</p>
               <p>Please contact us if you want you feel a need to add post or udpate the site</p>
            </div>
         </div>
      </div>
   </div>
-->
</div>
