{{!< default}}
<div class="container">
	<div class="jumbotron"><img src="/images/logo.svg" width="160">
		<h1>Welcome</h1>
		<p>This is a ECE496 project website.</p>
		<p>
			Our project Facial Expression Tranferring
		</p>


		<p>
			We plan to show the update, task management and demo on this site
		</p>
	</div>
</div>
